<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="dual_arm_agv_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                <param name="joint_commands_topic">/isaac_joint_commands</param>
                <param name="joint_states_topic">/isaac_joint_states</param>   
            </hardware>
            <joint name="lr52_1_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['lr52_1_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="lr52_2_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['lr52_2_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="lr52_3_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['lr52_3_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="lr52_4_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['lr52_4_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="lr52_5_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['lr52_5_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="lr52_6_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['lr52_6_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rr51_1_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rr51_1_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rr51_2_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rr51_2_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rr51_3_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rr51_3_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rr51_4_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rr51_4_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rr51_5_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rr51_5_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rr51_6_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rr51_6_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
