<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_arm_with_electric">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dual_arm_with_electric urdf file -->
    <xacro:include filename="$(find dual_arm_with_electric)/urdf/dual_arm_with_electric.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="dual_arm_with_electric.ros2_control.xacro" />


    <xacro:dual_arm_with_electric_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
